.modal-view {
  & {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
    transition: 0.4s ease;
  }

  > .modal-window {
    width: 90%;
    max-width: $base_width;
    margin: 5% auto;
  }
}
