.scroll-button {
  & {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > * {
    display: inline-block;
    position: relative;
  }

  &.-downfade {
    align-items: flex-end;
  }

  &.-downfade > * {
    animation: downfade 1.5s infinite ease;
  }
}
