.section-top {
  @extend ._main-section-dark

  & {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    animation: overlay-root-disappear 1.5s ease 3.2s 1;
    animation-fill-mode: forwards;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: calc(50% - 2rem);
    border-bottom: 1px solid transparent;
    animation:
      overlay-borders-appear 0.5s ease 0.3s 1,
      overlay-borders-expand 1s ease 2.2s 1;
    animation-fill-mode: forwards;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  > .symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: white;
    animation:
      overlay-symbol-appear 0.5s $bezier 0.3s 1,
      overlay-symbol-rotate 0.5s $bezier 1s 1;
    animation-fill-mode: forwards;
  }
}
