@require "main-section";

.section-showcase {
  @extend .main-section;
  @extend .main-section.-light

  > .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 1rem;
  }
}
