#footer {
  padding: 1rem 0;
}

#footer > * {
  text-align: center;
  margin: 2rem 0;
}

#footer .links {
  display: flex;
  justify-content: center;
}

#footer .links > li {
  margin: 0 0.5rem;
}

#footer .links > li > .square-link {
  font-size: 1.2rem;
  height: 2.5rem;
  width: 2.5rem;
}

#footer .copyright {
  font-size: 0.8rem;
}

#footer .copyright > * {
  vertical-align: middle;
}
