.section-profile {
  @extend ._main-section-dark

  & {
    border-bottom: 1px solid $dark;
    height: 3rem;
    transition: 0.4s ease;
    overflow: hidden;
  }

  &.opened > .section-profile-button {
    @extend .section-profile-button.-pressed;
  }
}
