.section-footer {
  @extend ._main-section-dark

  & {
    padding: 1rem 0;
  }

  > * {
    text-align: center;
    margin: 2rem 0;
  }

  .square-link {
    font-size: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  > .copyright {
    font-size: 0.8rem;
  }

  > .copyright > * {
    vertical-align: middle;
  }
}
