@require "main-section";

.section-profile {
  @extend .main-section;
  @extend .main-section.-dark

  & {
    border-bottom: 1px solid $dark;
    height: 3rem;
    transition: 0.4s ease;
    overflow: hidden;
  }

  &.-js-opened > .section-profile-button {
    @extend .section-profile-button.-pressed;
  }
}
