#footer {
  padding: 1rem 0;
}

#footer > * {
  text-align: center;
  margin: 2rem 0;
}

#footer .links {
  display: flex;
  justify-content: center;
}

#footer .links > li {
  margin: 0 0.5rem;
}

#footer .links > li > a {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: rgba(60, 60, 60, 1);
  background-color: white;
  text-decoration: none;
  /*border-radius: 50%;*/
  border-radius: 3px;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#footer .links > li > a:hover {
  /*transform: rotateZ(360deg);*/
  /*border-radius: 3px;*/
}

#footer .copyright {
  font-size: 0.8rem;
}

#footer .copyright > * {
  vertical-align: middle;
}
