.section-top {
  @extend ._main-section-dark

  & {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 100vw;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: calc(50% - 2rem);
    border-bottom: 1px solid transparent;
    transition: 0.4s ease;
  }

  &:hover::before,
  &:hover::after {
    display: block;
    border-color: white;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  > .symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    opacity: 1;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  &:hover > .symbol {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3px;
  }

  > .symbol:hover {
    transform: translate(-50%, -50%) rotateZ(90deg);
  }

  > .scroll-button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }
}
