body {
  margin: 0;
  padding: 0;
  background-color: $dark;
  color: white;
  font-family: Meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;

  &.-js-freeze {
    position: absolute;
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}
