hover() {
  body:not(._browserenv-touch) &:hover {
    {block}
  }
}

media($query) {
  @media $query {
    /{selector()} {
      {block}
    }
  }
}

media-laptop() {
  +media("(max-width: 1024px)") {
    {block}
  }
}

media-tablet() {
  +media("(max-width: 768px)") {
    {block}
  }
}

media-mobile() {
  +media("(max-width: 425px)") {
    {block}
  }
}
