extends layouts/layout

include components/section-top
include components/section-profile
include components/section-showcase
include components/section-footer

block contents
  +section-top
  +section-profile
  +section-showcase(contents)
  +section-footer
