doctype html

block title
  - const title = "Megahertz";

html(lang="ja")
  head
    block meta
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(property="og:title" content=title)
      meta(property="og:type" content="website")
      meta(property="og:url" content=`https://ztrehagem.github.io${uri}`)
      meta(property="og:image" content="https://ztrehagem.github.io/img/icon.png")
      meta(property="og:locale" content="ja_JP")
      meta(property="og:site_name" content="Megahertz")
      meta(property="og:description" content="Megahertz's portfolio")
      meta(name="twitter:card" content="summary")
      meta(name="twitter:site" content="@ztrehagem")
      meta(name="theme-color" content="#3C3C3C")
      meta(name="msapplication-navbutton-color" content="#3C3C3C")
      meta(name="apple-mobile-web-app-status-bar-style" content="#3C3C3C")

    block styles
      link(rel="stylesheet" type="text/css" href="./css/master.css")

    title=title
  body
    block contents

    block scripts
      script(src="https://use.fontawesome.com/c85ce4ec40.js")
      script(src="./js/app.js")
