include square-link

mixin section-footer
  footer.section-footer
    ul.links
      li: +square-link("http://twitter.com/ztrehagem").-icon.-light: i.fa.fa-fw.fa-twitter
      li: +square-link("http://soundcloud.com/ztrehagem").-icon.-light: i.fa.fa-fw.fa-soundcloud
      li: +square-link("http://megahertz.booth.pm/").-icon.-light: i.fa.fa-fw.fa-shopping-cart
      li: +square-link("http://twitter.com/mhz_univ").-icon.-light: i.fa.fa-fw.fa-twitter
      li: +square-link("http://github.com/ztrehagem").-icon.-light: i.fa.fa-fw.fa-github
    .copyright
      i.fa.fa-fw.fa-copyright
      span Megahertz
