include horizontal-list
include square-link

mixin section-profile-body
  .section-profile-body
    p
      | シンセサウンドをメインとしたエレクトロニックな楽曲を得意とし、Web上での公開、イベントでのCD頒布などを行っている。
      br
      | その傍ら、ボーカル編集やミックス・マスタリングを担うこともある。
    +horizontal-list.-right
      li: +square-link("http://twitter.com/ztrehagem").-light
        i.fa.fa-twitter
        span._ml-5 Twitter
      li: +square-link("http://soundcloud.com/ztrehagem").-light
        i.fa.fa-soundcloud
        span._ml-5 SoundCloud
      li: +square-link("http://megahertz.booth.pm/").-light
        i.fa.fa-shopping-cart
        span._ml-5 BOOTH
    p
      | 上記の音楽活動を通して、ウェブサイト・特設サイト制作を経験する。
      | その後も複数のコーポレートサイト制作やWEBサービスのフロントエンド開発などに携わる。
      br
      | シンプル・フラットなデザインを得意とし、レスポンシブ対応はもちろんのこと、文書としてのHTMLを意識したコードスタイルにもこだわっている。
    +horizontal-list.-right
      li: +square-link("http://twitter.com/mhz_univ").-light
        i.fa.fa-twitter
        span._ml-5 Twitter
      li: +square-link("http://github.com/ztrehagem").-light
        i.fa.fa-github
        span._ml-5 GitHub
